.date-input {
  padding: 0.7em;

  &:focus .date-entry.active {
    background-color: var(--theme-primary);
    color: var(--theme-text);
  }
}

.date-entry {
  padding: 0.1em;
  border-radius: 0.2em;

  &.inactive {
    color: var(--text-secondary);
  }
}
