.number {
  display: flex;
}

.number-input {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0.8em;
  margin: 0;
}

.number-actions {
  width: 2em;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-left: solid 1px var(--border-color);
  border-top-right-radius: calc(var(--border-radius) * 0.6);
  border-bottom-right-radius: calc(var(--border-radius) * 0.6);

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &:hover {
      background-color: var(--background-secondary);
    }
  }
}
