.appointments {
  position: relative;
  overflow: auto;
  padding: 0.5em 0;
  min-height: 10em;
}

.loading,
.error {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error svg {
  font-size: 3em;
  color: var(--danger-color);
}

.appointments-table {
  width: 100%;
}
