.customer-details {
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > div {
    height: initial;
  }
}

.customer-fields,
.customer-notes {
  padding: 0.5em 1em 0;
}

.customer-notes {
  height: 100%;
}

.customer-notes > div {
  height: calc(100% - 2em);
}

.action-row {
  display: flex;
  gap: 0.4em;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  padding: 1em;
  align-items: center;
}

.action-row-spacer {
  flex-grow: 1;
}

.id-hint {
  opacity: 0.5;
}
