.appointments {
  position: relative;
  overflow: auto;
  padding: 0.5em 0;
  min-height: 10em;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
}
.header-title {
  font-weight: bold;
}
.header-spacer {
  flex-grow: 1;
}

.loading,
.error {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error svg {
  font-size: 3em;
  color: var(--danger-color);
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    line-height: 3em;
    padding-left: 0 0.4em;

    &:first-of-type {
      padding-left: 1em;
    }
    &:last-of-type {
      padding-right: 1em;
    }
  }

  tr {
    border-bottom: solid 1px var(--border-color);
  }

  tbody tr:hover {
    background-color: var(--background-primary);
    cursor: pointer;
  }
}
