.appointment-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: auto;
}

.action-row {
  display: flex;
  gap: 0.4em;
  align-items: center;
}

.action-row-spacer {
  flex-grow: 1;
}

.id-hint {
  opacity: 0.5;
}
