.button {
  appearance: none;
  padding: 0.5em 0.8em;
  border-radius: var(--border-radius);

  background-color: var(--background-secondary);
  color: var(--text-primary);
  border: solid 1px var(--border-color);

  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;

  &:hover {
    background-color: var(--background-primary);
  }
}

.button.primary {
  background-color: var(--theme-primary);
  color: var(--theme-text);
}
.button.danger {
  background-color: var(--danger-color);
  color: var(--danger-text);
}
.button.flat {
  border: none;
}

.button:disabled {
  opacity: 0.6;
}
