.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.dialog-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--background-dropout);
}

.dialog-window {
  position: relative;
  background-color: var(--background-secondary);

  border: solid 3px var(--theme-primary);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.dialog-window.small {
  width: min(calc(100% - 2em), 48em);
  height: min(calc(100% - 2em), 24em);
}

.dialog-window.medium {
  width: min(calc(100% - 2em), 70em);
  height: min(calc(100% - 2em), 50em);
}

.dialog-window.large {
  width: calc(100% - 2em);
  height: calc(100% - 2em);
}

.dialog-header {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;

  background-color: var(--theme-primary);
  color: var(--theme-text);
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
}

.dialog-header-button {
  appearance: none;
  outline: none;

  border: solid 2px var(--theme-primary);
  border-radius: var(--border-radius);

  background-color: var(--theme-primary);
  color: var(--theme-text);

  padding: 0 0.6em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-header-button:hover {
  background-color: var(--theme-secondary);
}

.dialog-header-button:focus {
  border-color: var(--theme-border);
}

.dialog-header-action {
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  bottom: calc(0.2em + 1px);
}

.dialog-header-close {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  bottom: calc(0.2em + 1px);
}

.dialog-header-close svg {
  font-size: 1.2em;
}

.dialog-content {
  position: absolute;
  top: calc(2.5em - 2px);
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
