.message-box-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.message-box-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--background-dropout);
}

.message-box-window {
  position: relative;
  background-color: var(--background-secondary);

  border: solid 3px var(--theme-primary);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.message-box-header {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;

  background-color: var(--theme-primary);
  color: var(--theme-text);
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
}

.message-box-content {
  margin-top: calc(2.5em - 2px);
  padding: 1em;
}

.message-box-footer {
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;

  border-top: solid 1px var(--border-color);

  display: flex;
  flex-direction: row-reverse;
  padding: 0.4em 0.8em;
  gap: 0.6em;
}
