.select-box {
  position: relative;
  margin: 1em 0;
}

.select-box.focused {
}

.select-box-label {
  position: absolute;
  top: -0.4em;
  left: 1em;
  font-size: 0.8em;
  line-height: 0.8em;
  padding: 2px 0.4em;

  background-color: var(--background-secondary);
}

.select-box-display {
  appearance: none;
  border: solid 2px var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);

  width: 100%;
  height: 100%;
  padding: 0.8em;
  margin: 0;
  cursor: default;

  line-height: initial;
}

.select-box-display.placeholder {
  color: var(--text-placeholder);
  user-select: none;
  -webkit-user-select: none;
}

.select-box.select-box.focused .select-box-display {
  border-color: var(--theme-primary);

  background-color: var(--background-primary);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select-box.focused .select-box-label {
  color: var(--theme-primary);
}

.select-box-drop-down {
  position: absolute;
  opacity: 0;
  height: 0;
  z-index: 1;
  top: calc(100% - 2px);
  left: 0;
  right: 0;
  max-height: 20em;
  overflow: auto;
  background-color: var(--background-primary);

  border: solid 2px var(--theme-primary);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.select-box.select-box.focused .select-box-drop-down {
  opacity: 1;
  height: auto;
}

.select-box-search-container {
  top: 0;
  position: sticky;
  padding: 0.4em 0.4em 0;
  background-color: var(--background-primary);
}

.select-box-search {
  top: 0;
  position: sticky;
  appearance: none;
  border: solid 2px var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-primary);

  width: 100%;
  height: 100%;
  padding: 0.6em 0.8em;
  margin: 0;
}

.select-box-search:focus {
  outline: none;
  border-color: var(--theme-primary);
}

.select-box-auto-complete {
  padding: 0.4em;
}

.select-box-auto-complete-entry {
  padding: 0.2em 0.6em;

  user-select: none;
  -webkit-user-select: none;

  scroll-margin-block-start: 4.5em;
  scroll-margin-block-end: 1em;
}

.select-box-auto-complete-entry.active {
  padding: 0.2em 0.6em;
  background-color: var(--background-secondary);
  cursor: default;
}
