.simple-input {
  position: relative;
  margin: 1em 0;
}

.simple-input-label {
  position: absolute;
  top: -0.4em;
  left: 1em;
  font-size: 0.8em;
  line-height: 0.8em;
  padding: 2px 0.4em;

  background-color: var(--background-secondary);
}

.simple-input-input {
  appearance: none;
  border: solid 2px var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);

  width: 100%;
  height: 100%;
  padding: 0.8em;
  margin: 0;
}

.simple-input-input:focus {
  outline: none;
  border-color: var(--theme-primary);

  background-color: var(--background-primary);
}

.simple-input-input.can-auto-complete:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.simple-input-input:focus ~ .simple-input-label {
  color: var(--theme-primary);
}
