.tool-bar {
  height: 2.6em;
  display: flex;
  padding: 0.2em 0.6em;
  gap: 0.4em;
  justify-content: end;
  align-items: center;
}

.tool-bar > figure {
  margin: 0;
  flex-grow: 1;
}

.tool-bar > button {
  appearance: none;
  border: solid 1px var(--border-color);
  outline: none;
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  padding: 0.4em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-bar > button:hover,
.tool-bar > button:focus {
  border-color: var(--theme-primary);
}
