.employee-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3em auto;
  grid-template-areas:
    "search"
    "list";
}

.employee-list-search {
  grid-area: search;
  position: relative;

  border-bottom: solid 1px var(--border-color);
}

.search-input {
  appearance: none;
  border: none;
  background-color: var(--background-secondary);

  width: 100%;
  height: 100%;
  padding: 0.8em;
}

.search-input:focus {
  outline: none;

  background-color: var(--background-primary);
}

.employee-list-content {
  grid-area: list;
  position: relative;

  overflow: auto;
  padding: 0.5em 0;

  user-select: none;
  -webkit-user-select: none;
}

.employee-list-entry {
  top: -0.5em;
  padding: 0.3em 0.8em;
  background: var(--background-secondary);
  z-index: 2;
  cursor: pointer;
}
.employee-list-entry.selected {
  font-weight: bold;
  color: var(--theme-primary);
  background: var(--background-primary);
}

.employee-list-entry:hover {
  background: var(--background-primary);
}

.employee-list-loading,
.employee-list-error {
  grid-area: list;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}

.employee-list-error svg {
  font-size: 3em;
  color: var(--danger-color);
}
