.app {
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--title-bar-height);
  line-height: var(--title-bar-height);
  background: var(--theme-primary);
  color: var(--theme-text);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-bottom: solid 1px var(--border-color);
}

.content {
  position: absolute;
  top: var(--title-bar-height);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.title-bar-button {
  appearance: none;
  outline: none;

  height: 100%;

  border: solid 2px var(--theme-primary);
  border-radius: var(--border-radius);

  background-color: var(--theme-primary);
  color: var(--theme-text);

  padding: 0 0.8em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bar-button:hover {
  background-color: var(--theme-secondary);
}

.title-bar-button:focus {
  border-color: var(--theme-border);
}

.title-bar-button svg {
  font-size: 1.2em;
}

.title-bar-left {
  position: absolute;
  left: 0.4em;
  top: 0.2em;
  bottom: calc(0.2em);
  display: flex;
  gap: 0.1em;
}

.title-bar-right {
  position: absolute;
  right: 0.4em;
  top: 0.2em;
  bottom: calc(0.2em);
  display: flex;
  gap: 0.1em;
}

.title-bar-center {
  color: var(--text-primary);
  width: 50%;
}

.loading-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-box {
  position: relative;
  width: 100%;
  height: 100%;

  color: var(--danger-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.error-box svg {
  font-size: 4em;
}

.search-input {
  appearance: none;
  border: none;
  background-color: var(--theme-secondary);
  color: var(--theme-text);

  border-radius: var(--border-radius);

  width: 100%;
  height: 100%;
  padding: 0.7em;
}

.search-input:focus {
  outline: none;

  background-color: var(--background-primary);
  color: var(--text-primary);
}

.search-input::placeholder {
  color: var(--theme-placeholder);
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-icon {
  width: 10em;
  color: var(--theme-primary);
  opacity: 0.2;
}
