:root {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--text-primary);
  background-color: var(--background-secondary);
  caret-color: var(--theme-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --title-bar-height: 3.6em;
}

* {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

:root {
  --border-radius: 0.4em;

  --theme-border: oklch(0.5 0.18 264);
  --theme-primary: oklch(0.6 0.18 264);
  --theme-secondary: oklch(0.7 0.18 264);
  --theme-text: oklch(0.96 0.01 264);

  --background-primary: oklch(0.99 0.01 264);
  --background-secondary: oklch(0.95 0.01 264);
  --background-dropout: rgba(0 0 0 / 0.6);

  --text-primary: oklch(0.1 0.02 264);
  --text-secondary: oklch(0.4 0.02 264);
  --text-placeholder: oklch(0.8 0.05 264);

  --border-color: oklch(0.85 0.05 264);
  --danger-color: oklch(0.58 0.18 25);
  --danger-text: oklch(0.96 0.02 25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-border: oklch(0.5 0.18 264);
    --theme-primary: oklch(0.6 0.18 264);
    --theme-secondary: oklch(0.7 0.18 264);
    --theme-text: oklch(0.96 0.01 264);

    --background-primary: oklch(0.01 0.01 264);
    --background-secondary: oklch(0.23 0.01 264);
    --background-dropout: rgba(255 255 255 / 0.2);

    --text-primary: oklch(0.9 0.02 264);
    --text-secondary: oklch(0.6 0.02 264);
    --text-placeholder: oklch(0.55 0.05 264);

    --border-color: oklch(0.45 0.05 264);
    --danger-color: oklch(0.58 0.18 25);
    --danger-text: oklch(0.96 0.02 25);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overscroll-behavior: none;
}

input::placeholder {
  color: var(--text-placeholder);
}
